@model IEnumerable<Person>

@{
    ViewBag.Title = "Show people";
    Layout = "_Layout";
}

<h2>Show people</h2>
<div class="ShowPeopleTable">
    @{
        foreach (var person in Model)
        {
            <div class="PersonDiv">
                @{
                    var s = $"{person.Name} {person.Surname}";
                }
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OpenPersonPage" asp-route-personId="@person.Id">@s</a></h3>
            </div>
            <div class="Line"></div>
        }
    }    
</div>

