html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ShowUsersTable {
  margin: 30px 10%;
  padding: 7px 11px;
  border-width: 3px; 
  border-style: solid;
  border-color: rgb(128, 128, 128);
  border-radius: 3px;
  background-color: whitesmoke;
}

.ShowUsersTitle {
  margin-left: 10%;
}

.Line {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 3px;
}

.UserDiv {
  margin: 3px;
}

.UserName {
  margin-left: 10%;
  margin-top: 7px;
  margin-bottom: 20px;
}

.UserDescription {
  margin: auto;
  width: 80%;
  border: #51585e 2px solid;
  border-radius: 3px;
  background-color: whitesmoke;
  padding: 6px 10px;
}

.DescriptionText {
  margin-top: 8px;
  margin-bottom: 8px;
}
